@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    :root {
        --primary-100: #000;

        --shadow-main: 0;
    }

    [theme="dark"] {
        --primary-100: #fff;
    }

    @media only screen and (prefers-color-scheme: dark) {
        [theme="system"] {
            --primary-100: #fff;
        }
    }

    *::-webkit-scrollbar {
        @apply w-1 h-1 bg-transparent;
    }

    *::-webkit-scrollbar-thumb {
        @apply w-1 h-1 rounded;
    }

    html,
    body,
    #root {
        @apply h-full;
    }
}
